<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User by Period</title>
</head>

<div th:if="${allUsers != null}">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>IS</th>
				<th>Date In</th>
				<th>Date Out</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : *{allUsers}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td>
					<ul class="list-unstyled" th:each="workday : ${user.workDays}">
						<li th:text="${workday.clockIn}"></li>
					</ul>
				</td>
				<td>
					<ul class="list-unstyled" th:each="workday : ${user.workDays}">
						<li th:text="${workday.clockOut}"></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</body>
</html>