<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User by Period</title>
</head>
<body>
	<form action="userByPeriodController" method="post">
		<p>
			IS: <input type="text" name="is">
		</p>
		<p>
			Start Date (yyyy/MM/dd): <input type="text" name="startDate">
		</p>

		<p>
			End Date (yyyy/MM/dd): <input type="text" name="endDate">
		</p>

		<input type="submit" value="Submit">

	</form>

	<div th:if="${user != null}">
		<p>
			<span style="font-size: 160%">User: </span> <span
				th:text="${user.id}" style="font-size: 120%"></span> <span
				th:text="${user.name}" style="font-size: 120%"></span>
		</p>
		<table style="width: 100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Clock-In</th>
					<th>Clock-Out</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="workday: ${user.workDays}">
					<td th:text="${workday.id}" align="center"></td>
					<td th:text="${workday.clockIn}" align="center"></td>
					<td th:text="${workday.clockOut}" align="center"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>