<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User hours</title>
</head>
<body>
	<form action="userHoursController" method="get">
		<p>
			IS: <input type="text" name="is">
		</p>
		<p>
			Month(MM): <input type="text" name="month">
		</p>

		<input type="submit" value="Submit">

	</form>

	<div th:if="${userHours != null}">
		<h3>User found:</h3>
		<table style="width: 100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>MONTH</th>
					<th>HOURS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${userHours.id}" align="center"></td>
					<td th:text="${userHours.name}" align="center"></td>
					<td th:text="${userHours.month}" align="center"></td>
					<td th:text="${userHours.hours}" align="center"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>