<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Users by Period</title>
</head>
<body>
	<form action="usersByPeriodController" method="post">
		<p>
			Start Date (yyyy/MM/dd): <input type="text" name="startDate">
		</p>

		<p>
			End Date (yyyy/MM/dd): <input type="text" name="endDate">
		</p>

		<input type="submit" value="Submit">

	</form>

	<div th:if="${users != null}">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>IS</th>
					<th>Date In</th>
					<th>Date Out</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : *{users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td>
						<ul class="list-unstyled" th:each="workday : ${user.workDays}">
							<li th:text="${workday.clockIn}"></li>
						</ul>
					</td>
					<td>
						<ul class="list-unstyled" th:each="workday : ${user.workDays}">
							<li th:text="${workday.clockOut}"></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>